@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

.list1>a,.list2>a,.list3>a{
    font-size: 2.4vh;
    margin-left: 20px;
    font-family: 'Noto Sans Mono', monospace;
    color: rgb(63, 60, 60);
}
.list2,.list3{
margin-left: 100px;
}
.list1>a:hover,.list2>a:hover,.list3>a:hover{
    border-bottom: 0.3125rem solid #22a77f;
    color: rgb(243, 141, 8) ;
}
.list1.active:focus,.list2.active:focus,.list3.active:focus{
    border-bottom: 0.3125rem solid #22a77f;
}
.card2{
    margin-left: 200px;
}
.card3{
    margin-left: 350px;
}